{% extends 'layout.html' %}


{% block body %}

<section class="centered">				
        <div class="movies">
            {% for movie in movies %}
            
            <div class="mov">
                <a href="{{ url_for('trailer' ,youtubeid=movie.youtube_url_id) }}">
                    <img src="{{movie.poster_url}}">
                    <h2 class="movietitle">{{movie.title}}</h2>
                </a>
            </div>

            {% endfor %}
            
        </div>
        
    </section>


{% endblock %}